* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FFDFDE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: monospace;
    header {
        box-shadow: 2px 2px 10px grey;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50vw;
        min-width: 280px;
        height: 15vh;
        h1 {
            font-family: 'Train One', cursive;
            font-weight: 400;
        }
        span {
            margin: 0px 20px;
        }
    }
    .fields {
        box-shadow: 2px 2px 10px grey;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50vw;
        min-width: 280px;
        height: 30vh;
        .search {
            width: 100px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 15px;
            outline: none;
            font-size: 1em;
            font-weight: bold;
            &:hover {
                cursor: pointer;
                color: #FFDFDE;
                background: black;
            }
        }
    }
    .lyrics {
        box-shadow: 2px 2px 10px grey;
        border-radius: 15px;
        width: 50vw;
        min-width: 280px;
        overflow: scroll;
        height: 50vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
        line-height: 2;
        span {
            font-size: 2em;
            margin: auto;
        }
    }
}